################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PharmaPro/.vs/PharmaPro/FileContentIndex/06d7238c-3a47-4b1e-bab0-d9d1993da2d6.vsidx
/PharmaPro/.vs/PharmaPro/FileContentIndex/09a47305-be02-4457-828b-2dd1eff56266.vsidx
/PharmaPro/.vs/PharmaPro/FileContentIndex/332810b6-35d7-4031-943a-9662638b9942.vsidx
/PharmaPro/.vs/PharmaPro/FileContentIndex/6f0fdbbb-27f8-482c-8771-34ef79f0d125.vsidx
/PharmaPro/.vs/PharmaPro/FileContentIndex/94d81005-e3bf-4a75-8f13-a462c5112bce.vsidx
